web/WEB-INF/wsdl/localhost_8080/HealthFitnessWS/HealthFitnessService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.fitness.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.fitness.com/" name="HealthFitnessService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.fitness.com/" schemaLocation="http://localhost:8080/HealthFitnessWS/HealthFitnessService?xsd=1"/>
</xsd:schema>
</types>
<message name="calculateBMI">
<part name="parameters" element="tns:calculateBMI"/>
</message>
<message name="calculateBMIResponse">
<part name="parameters" element="tns:calculateBMIResponse"/>
</message>
<message name="calculateCaloriesBurnRate">
<part name="parameters" element="tns:calculateCaloriesBurnRate"/>
</message>
<message name="calculateCaloriesBurnRateResponse">
<part name="parameters" element="tns:calculateCaloriesBurnRateResponse"/>
</message>
<message name="displayUserInfo">
<part name="parameters" element="tns:displayUserInfo"/>
</message>
<message name="displayUserInfoResponse">
<part name="parameters" element="tns:displayUserInfoResponse"/>
</message>
<message name="determineAge">
<part name="parameters" element="tns:determineAge"/>
</message>
<message name="determineAgeResponse">
<part name="parameters" element="tns:determineAgeResponse"/>
</message>
<message name="bodyFatPercentage">
<part name="parameters" element="tns:bodyFatPercentage"/>
</message>
<message name="bodyFatPercentageResponse">
<part name="parameters" element="tns:bodyFatPercentageResponse"/>
</message>
<message name="calculateProteinIntake">
<part name="parameters" element="tns:calculateProteinIntake"/>
</message>
<message name="calculateProteinIntakeResponse">
<part name="parameters" element="tns:calculateProteinIntakeResponse"/>
</message>
<message name="caloriesBurnRate">
<part name="parameters" element="tns:caloriesBurnRate"/>
</message>
<message name="caloriesBurnRateResponse">
<part name="parameters" element="tns:caloriesBurnRateResponse"/>
</message>
<portType name="HealthFitnessService">
<operation name="calculateBMI">
<input wsam:Action="http://ws.fitness.com/HealthFitnessService/calculateBMIRequest" message="tns:calculateBMI"/>
<output wsam:Action="http://ws.fitness.com/HealthFitnessService/calculateBMIResponse" message="tns:calculateBMIResponse"/>
</operation>
<operation name="calculateCaloriesBurnRate">
<input wsam:Action="http://ws.fitness.com/HealthFitnessService/calculateCaloriesBurnRateRequest" message="tns:calculateCaloriesBurnRate"/>
<output wsam:Action="http://ws.fitness.com/HealthFitnessService/calculateCaloriesBurnRateResponse" message="tns:calculateCaloriesBurnRateResponse"/>
</operation>
<operation name="displayUserInfo">
<input wsam:Action="http://ws.fitness.com/HealthFitnessService/displayUserInfoRequest" message="tns:displayUserInfo"/>
<output wsam:Action="http://ws.fitness.com/HealthFitnessService/displayUserInfoResponse" message="tns:displayUserInfoResponse"/>
</operation>
<operation name="determineAge">
<input wsam:Action="http://ws.fitness.com/HealthFitnessService/determineAgeRequest" message="tns:determineAge"/>
<output wsam:Action="http://ws.fitness.com/HealthFitnessService/determineAgeResponse" message="tns:determineAgeResponse"/>
</operation>
<operation name="bodyFatPercentage">
<input wsam:Action="http://ws.fitness.com/HealthFitnessService/bodyFatPercentageRequest" message="tns:bodyFatPercentage"/>
<output wsam:Action="http://ws.fitness.com/HealthFitnessService/bodyFatPercentageResponse" message="tns:bodyFatPercentageResponse"/>
</operation>
<operation name="calculateProteinIntake">
<input wsam:Action="http://ws.fitness.com/HealthFitnessService/calculateProteinIntakeRequest" message="tns:calculateProteinIntake"/>
<output wsam:Action="http://ws.fitness.com/HealthFitnessService/calculateProteinIntakeResponse" message="tns:calculateProteinIntakeResponse"/>
</operation>
<operation name="caloriesBurnRate">
<input wsam:Action="http://ws.fitness.com/HealthFitnessService/caloriesBurnRateRequest" message="tns:caloriesBurnRate"/>
<output wsam:Action="http://ws.fitness.com/HealthFitnessService/caloriesBurnRateResponse" message="tns:caloriesBurnRateResponse"/>
</operation>
</portType>
<binding name="HealthFitnessServicePortBinding" type="tns:HealthFitnessService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="calculateBMI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateCaloriesBurnRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayUserInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="determineAge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bodyFatPercentage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateProteinIntake">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="caloriesBurnRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HealthFitnessService">
<port name="HealthFitnessServicePort" binding="tns:HealthFitnessServicePortBinding">
<soap:address location="http://localhost:8080/HealthFitnessWS/HealthFitnessService"/>
</port>
</service>
</definitions>